#socialmedia {
  margin:0 auto;
  font-size: 3em;
  width:240px;
}

.contact {
  background: radial-gradient(circle, #6bd7ff 50%, #77ffe3);
  margin:0;
  background-size: cover;
  font-size:1.2em;
  padding:50px 0;
  text-align: center;
}

.input-group {
  margin-bottom:20px;
  min-width: 100%;
}

.form-control {
  width:100%;
}

.contact textarea {
  min-height: 200px;
}


.input-group-addon {
  min-width:70px;
  text-align:left;
}

#footer p{
  margin:0 auto;
  text-align: center;
  color:#333333;
}
