<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">

    <head>
        <title>Time is Money</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="UTF-8">
	
        <!-- load bootstrap via CDN -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <style>


			.content {
				margin-top: 70px;
			}

			.equals {
				text-align: center;
				font-size: 3em;
				font-weight: bold;
				padding-top: 30px;
			}

        </style>
        
        <!-- jQuery, Angular, Bootstrap scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body>

		<div class="container" ng-controller="mainController">

			<h2>Time is Money</h2>
			<p>First enter your details below. Then add custom time or money units in 'Units'. Use 'Convert' tab to convert time into money and vice versa. 'Counter' is under construction.</p>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#you">Details</a></li>
				<li><a data-toggle="tab" href="#units">Units</a></li>
				<li><a data-toggle="tab" href="#convert">Convert</a></li>
				<li><a data-toggle="tab" href="#count">Counter</a></li>
				<li><a data-toggle="tab" href="#stats">Stats</a></li>
			</ul>

			<div class="tab-content">

				<div id="you" class="tab-pane fade in active">

					<h3>You</h3>
					<div id="age" class="form-group">
						<label for="age">How old are you?</label>
						<input ng-model="age" type="text" class="form-control">
					</div>


					<h3>Work</h3>

					<div class="form-group">

						<label>How many hours do you work a week?</label>
						<input ng-change="calculateHours()" ng-model="hours" type="text" class="form-control">
						<label>How much do you get paid a year?</label>
						<input ng-change="calculatePay()" ng-model="pay" type="text" class="form-control">
					</div>
<!--

					<h3>Save</h3>
					<div class="form-group">

					  	<label for="save">How much do you save?</label>
					  	<div class="input-group">
							<input ng-model="save" id="save" name="save" type="text" class="form-control">
					      	<span class="input-group-btn">
					            <select ng-model="savePer" class="btn">
					              <option>/day</option>
					              <option>/week</option>
					              <option>/month</option>
					            </select>
					    	</span>
					    </div>

					    <label for="saved">How much have you saved already?</label>  
					    <input ng-model="saved" id="saved" name="saved" type="text" class="form-control">
					    
					    <label for="saveFor">What are you saving for?</label>
					    <input ng-model="saveFor" id="saveFor" name="saveFor" type="text" class="form-control">
					    
					    <label for="saveForCost">How much does it/he/she/they cost?</label>
					    <input ng-model="saveForCost" id="saveForCost" name="saveForCost" type="text" class="form-control">      
					</div>
//-->
				</div>


				<div id="units" class="tab-pane fade">
					<h3>Money</h3>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Unit <span ng-click="sortMoneyBy('Title')" class="glyphicon glyphicon-sort"></span></th>
								<th>Cost <span ng-click="sortMoneyBy('Pounds')" class="glyphicon glyphicon-sort"></span></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="unit in moneyUnits">
								<td class="col-xs-8 col-sm-8 col-md-8"> {{ unit.title }} </td>
								<td class="col-xs-3 col-sm-3 col-md-3"> {{ unit.pounds }} </td>
								<td class="col-xs-1 col-sm-1 col-md-1"><a ng-click="removeMoneyUnit(unit.title)"><span class="glyphicon glyphicon-minus"></i></a></td>
							</tr>
							<tr>
								<td><input class="form-control" type="text" ng-model="customMoneyTitle"></td>
								<td>
      								<input ng-model="customMoneyPounds" type="text" class="form-control" placeholder="£ GBP">
								</td>
								<td class="col-sm-1 col-md-1"><button ng-click="customMoneyAdd()" class="btn btn-default" type="button">Add</button></td>
							</tr>
						</tbody>
					</table>

					<h3>Time</h3>
					<table class="table table-striped">
					<thead>
					  <tr>
					    <th>Unit <span ng-click="sortTimeBy('Title')" class="glyphicon glyphicon-sort"></span></th>
					    <th>Hours <span ng-click="sortTimeBy('Hours')" class="glyphicon glyphicon-sort"></span></th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="unit in timeUnits">
								<td class="col-xs-8 col-sm-8 col-md-8"> {{ unit.title }} </td>
								<td class="col-xs-3 col-sm-3 col-md-3"> {{ unit.hours }} </td>
								<td class="col-xs-1 col-sm-1 col-md-1"><a ng-click="removeTimeUnit(unit.title)"><span class="glyphicon glyphicon-minus"></i></a></td>
							</tr>
							<tr>
								<td><input class="form-control" type="text" ng-model="customTimeTitle"></td>
								<td>
		      						<input ng-model="customTimeHours" type="text" class="form-control" placeholder="Hours">
								</td>
								<td class="col-sm-1 col-md-1"><button ng-click="customTimeAdd()" class="btn btn-default" type="button">Add</button></td>
							</tr>
					</tbody>
					</table>
				  
				</div>

				<div id="convert" class="tab-pane fade">
				  <br/>
				  <div class="row">

				    <div class="col-xs-5">
				      <div class="form-group">
				        <label for="inVal">Input</label>
				        <input ng-model="inVal" ng-change="convertUnits()" id="inVal" name="inVal" type="text" class="form-control">
				        <select ng-model="inUnits" ng-change="convertUnits()" class="form-control" id="inUnits">
				          <optgroup label="Time">
				          		<option ng-repeat="unit in timeUnits">{{ unit.title }}</option>
				          	</optgroup>
				          	<optgroup label="Money">
				          		<option ng-repeat="unit in moneyUnits">{{ unit.title }}</option>
				          	</optgroup>
				        </select>
				      </div> 
				    </div>  

				    <div class="equals col-xs-2">
				    	=
				    </div> 

				    <div class="col-xs-5">
				      <div class="form-group">
				        <label for="outVal">Output</label>
				        <input id="outVal" name="outVal" type="text" class="form-control" value="{{ outVal }}">
				        <select ng-model="outUnits" ng-change="convertUnits()" class="form-control" id="outUnits">
				        	<optgroup label="Time">
				          		<option ng-repeat="unit in timeUnits">{{ unit.title }}</option>
				          	</optgroup>
				          	<optgroup label="Money">
				          		<option ng-repeat="unit in moneyUnits">{{ unit.title }}</option>
				          	</optgroup>
				         
				        </select>
				      </div> 
				    </div>

				  </div>

				  

				  <div class="row">
				    <div id="conOutput" class="col-xs-2 col-xs-offset-5">


				    </div>
				  </div>
				</div>

				<div id="count" class="tab-pane fade">
					<div class="panel panel-default">
						
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
						<div class="form-group">
					        <label>Name</label>
					        <input type="text" class="form-control" ng-model="countName">

					        <label>Start Time</label>
					        <input id="countStart" type="datetime-local" value="2015-09-02T12:41:34.24" class="form-control" ng-model="countStart">

					        <label>Units</label>
					        <select ng-model="countUnits" class="form-control">
					        	<optgroup label="Time">
					          		<option ng-repeat="unit in timeUnits">{{ unit.title }}</option>
					          	</optgroup>
					          	<optgroup label="Money">
					          		<option ng-repeat="unit in moneyUnits">{{ unit.title }}</option>
					          	</optgroup>
					        </select>
					        <br/>
					        <input type="submit" ng-click="addCounter()" class="btn btn-success" value="Start">
				      	</div>
				      	</div>
					</div>
				</div>

				<div id="stats" class="tab-pane fade">
					<h3>Statistics</h3>
					<p> You currently work for £{{ truePayPerHour.toFixed(2) }} per hour.</p>
					<p> You work {{ workPerDay.toFixed(2) }} hours a day, that's {{ percentWorking.toFixed(1) }}% of your life.</p>
					<p>This means on average you earn £{{ payPerHour.toFixed(2) }} for every hour lived.</p>
					<p> At age {{ age }}, you only have about {{ yearsRemaining }} years left.</p>
					<p> If you retire at 65, you'll spend {{ workYearsRemaining.toFixed(1) }} years of that working.</p>
				</div>
			</div>
		</div>

		</div>

    </body>
</html>