.comment .panel-heading {
  background-color: #F5F5F5 !important;
  color:#222222 !important;
  font-weight:normal !important;
}

.comment a:link, .comment a:visited { 
    color: #222;
    cursor: auto;
}

.comment a:link:active, .comment a:visited:active { 
    color: #222;
}