RewriteEngine on
RewriteRule ^blog/([^/.]+)/?$ blog/index.php?title=$1 [L]

RewriteRule ^project/([^/.]+)/?$ project/index.php?project=$1 [L]

RewriteRule ^logout index.php?logout=1

RewriteRule ^private/([^/.]+)/?$ private.php?query=$1 [L]

RewriteRule ^notfound notfound.php
