@media screen and (min-width: 768px) {

  #loginDropdown {
    width:300px;
  }
}

#loginDropdown {
  padding:10px;

}

.dropdown-menu input{
  margin:5px auto;
}

.signLabel {
  position:relative;
  top:13px;
  left:5px;
  margin:0;
}


.modal-body {
    min-height: 530px;
}

